<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>result</title>
</head>
<body>
    <h1>{{lotto_round}}회차 로또당첨 결과</h1><br>
    <h3>추첨결과는 {{winner_list}}와 보너스번호 {{bnus_No}}입니다.</h3> <br>
    <h3>당신이 선택한 번호는 {{lotto_nums}}입니다.</h3><br>
    <h3>당신이 맞춘 개수 : {{count}}</h3>
    <h2>{{final}}</h2>
</body>
</html>

 <!-- lotto_round=lotto_round, 회차정보
    lotto_nums=lotto_nums, 내가 선택한 번호
    final=final, 결과출력
    winner_list=winner_list, 해당 회차정보의 선택된 번호
    bnus_No=bnus_No 해당 회차정보의 보너스번호
    count=count 내가 맞춘 개수
     -->